body {
    margin: 0px;
}

.bg-container {
    height: 100px;
    background-color: #4962d1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    color: whitesmoke;
}
.paragra{
    display: flex;
    align-self: center;
    color: lightslategray;
    margin-top: 20px;
}

.back-icon {
    color: white;
    margin-right: 20px;
}

.image {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-right: 20px;

}

.bottom-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-container {
    display: flex;

    align-items: flex-start;
}

.details-container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    background-color: grey;
    width: 300px;
    padding: 20px;
    border-top-left-radius: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: whitesmoke;
    margin-right: 60px;
}

.to-details-container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    background-color: #4962d1;
    width: 300px;
    padding: 20px;
    border-top-left-radius: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: whitesmoke;
    margin-right: 60px;
}

.to-msg-container {
    align-self: flex-end;
}